@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu');
div {
}

h1, h2, h3, h4, h5, h6 {

}
h1 {
  color: white ;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

 */

.container-fluid{
  padding: 7% 15%;
}

.comment{
  padding-bottom: 5%;
}

.submit{
  margin-top: 5%;
}



.loginb {
  margin: 5% 3% 5% 0;
}


/* Title Section */

#title {
  background-color: #66bfbf;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 70%;
  position: absolute;
  right: 5%;
}

/* Features Section */

#features {
  position: relative;
}





.icon:hover {
  color: #66bfbf;
}

/* Testimonial Section */

#testimonials {
  background-color: #66bfbf;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}





@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

