* {

  box-sizing: border-box;
  
  text-decoration: none;
}



header{
background: #66bfbf;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 10px 15px;
  z-index: 100000;
  font-family: Ubuntu;

}
header.sticky{

  padding: 3px 50px;
  background: #66bfbf;
  opacity: 0.85;
}
header .logo{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  padding-left: 100px;
  transition: 0.6s;
}
header ul {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
header ul li {

  position: relative;
  list-style: none;
  
  
}
header ul li a  {

  position: relative;


}
header ul li a {
  position: absolute;
  content: '';
  left:0;
  bottom: 0;
  height: 5px;
  text-decoration: none;
  
}

header.sticky ul li a{
  color: #fff;
  
}
.checkbtn
{
  color:white;
  font-size: 30px;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  
}
#check{
  display: none;
}


