@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu');
* {

  box-sizing: border-box;
}

body {
background: #66bfbf;
}

header{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 25px;
  z-index: 100000;
  font-family: Ubuntu;

}
header.sticky{

  padding: 3px 50px;
  background: #66bfbf;
  opacity: 0.85;
}
header .logo{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  padding-left: 100px;

  transition: 0.6s;
}
header ul {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
header ul li {

  position: relative;
  list-style: none;
}
header ul li a {

  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;


}
header.sticky ul li a{
  color: #fff;
  
}
